{% extends "base.html" %}

{% block title %}Explore Ayurvedic Plants{% endblock %}

{% block content %}

    <h1 class="plantnet-text" style="justify-content: center;">Ayurvedic Flora</h1>

    <div class="plant-container">
        <div class="plant-card">
            <img src="/static/nithyapushpa.jpeg" alt="Nityapushpa">
            <h3>Nityapushpa</h3>
            <p>Supports respiratory health, improves digestion, and enhances vitality.</p>
        </div>

        <div class="plant-card">
            <img src="/static/neem.jpg" alt="Neem">
            <h3>Neem</h3>
            <p>Has antibacterial properties, purifies blood, and treats skin disorders.</p>
        </div>

        <div class="plant-card">
            <img src="/static/ashwagandha.png" alt="Ashwagandha">
            <h3>Ashwagandha</h3>
            <p>Reduces stress, enhances brain function, and boosts energy.</p>
        </div>

        <div class="plant-card">
            <img src="/static/amla.png" alt="Amla">
            <h3>Amla</h3>
            <p>Rich in vitamin C, boosts immunity, and promotes hair health.</p>
        </div>

        <div class="plant-card">
            <img src="/static/brahmi.jpg" alt="Brahmi">
            <h3>Brahmi</h3>
            <p>Improves brain function, reduces anxiety, and enhances memory.</p>
        </div>

        <div class="plant-card">
            <img src="/static/hibiscus.jpg" alt="Hibiscus">
            <h3>Hibiscus</h3>
            <p>Supports heart health, improves hair growth, and reduces inflammation.</p>
        </div>

        <div class="plant-card">
            <img src="/static/rose.jpg" alt="Rose">
            <h3>Rose</h3>
            <p>Contains antioxidants, hydrates skin, and promotes relaxation.</p>
        </div>

        <div class="plant-card">
            <img src="/static/mint.jpg" alt="Mint">
            <h3>Mint</h3>
            <p>Aids digestion, relieves headaches, and freshens breath.</p>
        </div>

        <div class="plant-card">
            <img src="/static/aloe_vera.jpg" alt="Aloe Vera">
            <h3>Aloe Vera</h3>
            <p>Promotes skin health, aids digestion, and boosts hydration.</p>
        </div>
    </div>

    <br>
    <a href="/">Go Back to Home</a>
    <br>

{% endblock %}
